.app-bar {
  border-radius: 15px;
  margin: 20px 0;
  display: "flex";
  flex-direction: "row";
  justify-content: "center";
  align-items: "center";
}

.heading {
  color: "rgba(0,183,255, 1)";
}

.logo {
  margin-left: 15px;
  height: 60px;
  margin: 10px;
  object-fit: contain;
}

.form {
  display: "flex";
  flex-wrap: "wrap";
  justify-content: "center";
}

.fileInput {
  width: 97%;
  margin: 10px 0;
}

.btn-submit {
  margin-bottom: 10px;
}

.mb-10 {
  margin-bottom: 20px;
}

.grid-container {
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  height: 100%;
  position: relative;
}

.postImage {
  height: 0;
  padding-top: 56.25%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}

.overlay2 {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

.details {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.cardActions {
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}
.title {
  padding: 0 16px;
}
